@import "assets/font/font.css";
@import "assets/css/normalize.css";
@import "assets/css/jquery.formstyler.css";
@import "assets/css/jquery.formstyler.theme.css";
@import "assets/slick/slick.css";
@import "assets/slick/slick-theme.css";
@import "assets/css/header.css";
@import "assets/css/home.css";
@import "assets/css/card.css";
@import "assets/css/news.css";
@import "assets/css/basket.css";
@import "assets/css/spare-parts.css";
@import "assets/css/personal-area.css";
@import "assets/css/modal.css";
@import "assets/css/product-comparison.css";
@import "assets/css/catalog.css";
@import "assets/css/nouislider.css";
@import "assets/css/footer.css";
