
.pages-basket-del{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -7px;
}
.pages-basket-del a{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
    display: flex;
    align-items: center;
}
.pages-basket-del a img{
    margin-right: 9px;
}
.pages-basket-flex{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 2px;
    border-top: 1px solid #E9E9E9;
}
.pages-basket-flex:last-child{
    border-bottom: 1px solid #E9E9E9;

}
.pages-basket-us {
    display: flex;
    align-items: center;
    max-width: 595px;
    width: 100%;
}
.pages-basket-prod{
    display: flex;
    align-items: center;
    max-width: 666px;
    width: 100%;
    justify-content: space-between;
    margin-top: -24px;
    padding-left: 43px;
}
.pages-basket-img {
    max-width: 194px;
    width: 100%;
    display: flex;
    margin-left: 17px;
}
.pages-basket-name {
    max-width: 300px;
    width: 100%;
    margin-left: 79px;
    margin-top: -15px;
}
.pages-basket-name span{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
    display: block;
    margin-top: -8px;
}
.pages-basket-name strong{
    font-family: 'DIN Pro Cond';
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #1C1C1C;
    display: block;
    margin-top: 9px;
}

.pages-basket-price span{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #8E8E8E;
}
.pages-basket-price strong{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #1C1C1C;
    font-family: 'DIN Pro';
    display: block;
    margin-top: 6px;
}
.pages-basket-anout {
    margin-left: 101px;
}
.pages-basket-anout span{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #8E8E8E;
}
.pages-basket-about-pric{
    display: flex;
    align-items: center;
    position: relative;
    top: 6px;
}
.pages-basket-about-pric strong{
    font-family: 'DIN Pro';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #E31B25;
    margin-right: 16px;
}
.pages-basket-about-pric p{
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1C1C1C;
    padding-left: 14px;
    border-left: 1px solid #DADADA;
}
.pages-basket-about-pric span{
    font-family: 'DIN Pro';

    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #1C1C1C;
    margin-left: 7px;
}
.pages-basket-prod .slider-product-calc {
    margin-top: 36px;
    position: relative;
    left: -18px;
}
.pages-basket-prod .card-count {
    margin: 0 10px;
}
.total-cost-excluding-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;
}
.total-cost-excluding{
    max-width: 435px;
    width: 100%;
    background: #F7F7F7;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-cost-excluding p{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.total-cost-excluding strong{
    font-family: 'DIN Pro';
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #E31B25;
}
.total-cost-excluding-flex>a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #E31B25;
    margin-top: 11px;
}
.total-cost-excluding-flex>a img {
    margin-right: 15px;
}

.about-ordering-block {
    margin-top: 53px;
    border: 1px solid #222222;
    position: relative;
    width: 100%;
    padding-top: 39px;
    padding-left: 46px;
    margin-bottom: 107px;
}
.about-ordering-block:after{
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    width: 27px;
    height: 27px;
    border-top: 1px solid #222222;
    border-left: 1px solid #222222;
    background: #FFFFFF;
}
.about-ordering-block h2{
    font-family: 'DIN Pro Cond';
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1C1C1C;
}
.about-ordering-flex {
    margin-top: 34px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.about-ordering-info{
    max-width: 560px;
    width: 100%;
    margin-left: 100px;
}
.about-ordering-info-inp {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.about-ordering-info-inp p{
    max-width: 160px;
    width: 100%;
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
}
.about-ordering-info-inp label{
    max-width: 395px;
    width: 100%;
    display: block;

}
.about-ordering-info-inp label input{
    width: 100%;
    height: 42px;
    background: unset;
    border-bottom: 1px solid #DADADA;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1C1C1C;
    transition: 0.3s;
}
.about-ordering-info-inp label input:hover, .about-ordering-info-inp label input:active{
    border-bottom: 1px solid #E31B25;

}
.about-ordering-info-inp label input::placeholder{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
    opacity: 0.3;
}
.about-ordering-info-sel{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 19px;
    margin-top: 49px;

}
.about-ordering-info-sel p{
    max-width: 160px;
    width: 100%;
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
}
.about-ordering-info-sel .jq-selectbox{
    max-width: 395px;
    width: 100%;
    height: 42px;
    background: unset;
    border-bottom: 1px solid #DADADA;
    position: relative;
}
.about-ordering-info-sel .jq-selectbox:after{
    content: "";
    position: absolute;
    top: 10px;
    right: 2px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #1C1C1C;
    border-left: 1px solid #1C1C1C;
    transform: rotate(-135deg);
}
.about-ordering-info-sel .jq-selectbox__select-text{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1C1C1C;
    height: 42px;
    display: flex;
    align-items: center;
}

.choose-a-company-lin .checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.choose-a-company-lin .checkcontainer input {
    position: absolute;
    opacity: 0;
    display: none;
    cursor: pointer;
}
.choose-a-company-lin .radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #DADADA;
}

.choose-a-company-lin .radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}
.choose-a-company-lin .checkcontainer .radiobtn:after {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E31B25;
}
.choose-a-company-lin .checkcontainer input:checked ~ .radiobtn:after {
    display: block;
}
.choose-a-company-lin .checkcontainer input:checked ~ .radiobtn {
    border: 1px solid #E31B25;
}

.choose-a-company{
    max-width: 859px;
    width: 100%;
}
.choose-a-company-icon{
    display: flex;
    align-items: center;
}
.choose-a-company-icon strong{
    font-family: 'DIN Pro Cond';
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #1C1C1C;
}
.choose-a-company-icon img{
    margin-right: 18px;
}


.choose-a-company-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    max-width: 720px;
    width: 100%;
    padding-left: 47px;
}
.choose-a-company-flex>p{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
}
.choose-a-company-lin{
    position: relative;
    left: 5px;
}
.choose-a-company-lin label{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;

}
.choose-a-company-lin>span{
    font-family: 'DIN Pro';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8E8E8E;
    display: block;
    margin-left: 38px;
    margin-top: -2px;
}
.marg-top-choos {
    margin-top: 61px;
    padding-left: 3px;
}
.by-bank-card ul {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.by-bank-card ul li{
    padding: 7px 21px;
    height: 33px;
    background: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
    transition: 0.3s;
    margin-right: 14px;
    font-weight: 500;
    cursor: pointer;
}
.by-bank-card ul li:hover{
    background: #E31B25;
    color: #FFFFFF;
}
.by-bank-card ul .active-href{
    background: #E31B25;
    color: #FFFFFF;
}
.company-name-inn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    padding-top: 20px;
}
.heigth-na-bask{
    height: 80px;
}
.company-name-inn .about-ordering-info-inp{
    max-width: 505px;
    width: 100%;
}
.company-name-inn .about-ordering-info-inp + .about-ordering-info-inp{
    max-width: 300px;
}
.choose-a-company-out {
    margin-top: 40px;
    max-width: 669px;
    padding-left: 47px;
}
.company-name-inn .about-ordering-info-inp p{
    max-width: initial;
    margin-right: 10px;
    width: auto;
    white-space: nowrap;
}
.by-bank-card{
    position: relative;
    top: -8px;
    left: 48px;
}
.company-name-inn .about-ordering-info-inp label{
    max-width: 310px;
    width: 100%;
}
.line-pop-basket {
    max-width: 850px;
    width: 100%;
    background: #E9E9E9;
    height: 1px;
    margin-top: 30px;
}
.total-payable-including{
    background: #F7F7F7;
    width: 100%;
    padding: 30px 26px 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-payable-including button{
    max-width: 400px;
    width: 100%;
    height: 56px;
    background: #E31B25;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'DIN Pro Cond';
    position: relative;
    top: 19px;
    left: 16px;
}
.total-payable-incl-info {
    display: flex;
    align-items: center;
    max-width: 342px;
    width: 100%;
    margin-right: 24px;
}
.total-payable-incl-info p{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #1C1C1C;
    margin-right: 5px;
}
.total-payable-in-pric {
    position: relative;
    top: 15px;
    left: 10px;
}
.total-payable-in-pric strong{
    font-family: 'DIN Pro';
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #E31B25;
}
.total-payable-in-plus{
    display: flex;
    align-items: center;
    margin-top: 1px;
}
.total-payable-in-plus p{
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #1C1C1C;
}
.total-payable-in-plus span{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #1C1C1C;
    font-family: 'DIN Pro';

}
.pages-basket-but-x button{
    background: unset;
}
.outer-class-a {
    padding-top: 6px;
    margin-top: -5px;
}
.outer-class-a .pages-basket-name {
    margin-top: 1px;
}
.outer-class-a .pages-basket-prod {
    margin-top: -5px;
}
.outer-class-a  .slider-product-calc {
    margin-top: 31px;
    position: relative;
    left: 2px;
}
@media (max-width: 1840px){
    .by-bank-card {
        position: relative;
        top: 0;
        left: 0;
    }
}
@media (max-width: 1650px){
    .about-ordering-info {
        margin-left: 0px;
    }
    .choose-a-company {
        max-width: 798px;
    }
}
@media (max-width: 1500px){
    .about-ordering-info-inp p {
        max-width: 125px;
    }
    .about-ordering-info-sel p{
        max-width: 125px;

    }
    .total-payable-incl-info {
        margin-right: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    .choose-a-company-flex{
        padding-right: 20px;
    }
    .pages-basket-prod {
        max-width: 589px;
        margin-top: -33px;
        padding-left: 21px;
    }
    .pages-basket-anout {
        margin-left: 22px;
    }
}
@media (max-width: 1299px){

    .pages-basket-anout {
        margin-left: 60px;
    }
    .pages-basket-name {
        margin-left: 30px;
    }
    .about-ordering-info {
        max-width: 456px;
    }
    .pages-basket-prod .slider-product-calc {
        margin-top: 20px;
        position: relative;
        left: 0;
    }
    .pages-basket-prod {
        margin-top: 0;
        padding-left: 21px;
    }
    .choose-a-company {
        max-width: 614px;
    }
    .choose-a-company-lin {
        left: 0;
    }
    .marg-top-choos {
        margin-top: 30px;
        padding-left: 0;
    }
    .choose-a-company-out {
        margin-top: 20px;
        max-width: 664px;
        padding-left: 0;
    }
    .choose-a-company-flex {
        margin-top: 25px;
        padding-left: 0;
    }
    .total-payable-including {
        padding: 25px 21px 25px;
    }
    .total-payable-in-pric {
        top: 0;
        left: 0;
    }
}
@media (max-width: 1170px){
    .pages-basket-name {
        max-width: 244px;
        width: 100%;
        margin-left: 4px;
    }
    .pages-basket-price {
        margin-right: 12px;
    }
    .pages-basket-anout {
        margin-left: 21px;
    }
    .about-ordering-flex{
        flex-direction: column;
        align-items: center;
    }
    .total-payable-including button {
        top: 0;
        left: 0;
    }
    .about-ordering-info {
        max-width: 560px;
    }
    .choose-a-company{
        margin-top: 35px;
    }
    .about-ordering-block {
        padding: 25px;
        margin-bottom: 50px;
    }
    .pages-basket-name strong {
        font-size: 22px;
        line-height: 26px;
    }
    .pages-basket-us {
        max-width: 450px;
    }
    .outer-class-a {
        padding-top: 6px;
        margin-top: 10px;
    }

}
@media (max-width: 992px){
    .pages-basket-flex {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .pages-basket-but-x{
        position: absolute;
        top: 20px;
        right: 50px;
    }
    .total-cost-excluding strong {
        font-size: 25px;
        line-height: 30px;
    }
    .pages-basket-name {
        margin-top: 0;
    }
    .pages-basket-img {
        margin-left: 0;
    }
}
@media (max-width: 768px){
    .total-cost-excluding-flex {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }
    .total-cost-excluding {
        margin: 20px auto 0;
        max-width: 100%;
    }
    .about-ordering-block h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .choose-a-company-flex {
        padding-right: 0;
        margin-top: 30px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .company-name-inn {
        margin-top: 25px;
        margin-right: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .total-payable-including {
        padding: 17px 17px;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }
    .total-payable-incl-info{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .heigth-na-bask {
        height: auto;
        margin-bottom: 10px;
    }
}
@media (max-width: 576px){
    .pages-basket {
        margin-top: 20px;
    }
    .pages-basket-us {
        flex-direction: column;
        align-items: center;
    }
    .pages-basket-name {
        max-width: 273px;
        margin-left: 0;
        text-align: center;
    }
    .pages-basket-prod {
        flex-wrap: wrap;
        margin-top: 15px;
    }
    .pages-basket-anout {
        margin-left: 20px;
        margin-top: 20px;

    }
    .pages-basket-price {
        margin-right: 12px;
        margin-left: 20px;
    }
    .pages-basket-but-x {
        top: 10px;
        right: 10px;
    }
    .total-cost-excluding{
        flex-direction: column;
    }
    .about-ordering-block h2 {
        font-size: 22px;
        line-height: 26px;
    }
    .about-ordering-info-inp{
        flex-direction: column;
        align-items: flex-start;
    }
    .about-ordering-info-sel{
        flex-direction: column;
        align-items: flex-start;
    }
    .choose-a-company-icon strong {
        font-size: 18px;
        line-height: 22px;
    }
    .about-ordering-block {
        padding: 25px 15px;
    }
    .choose-a-company-lin{
        margin-top: 15px;
    }
    .marg-top-choos {
        margin-top: 35px;
    }
    .by-bank-card{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;
    }
    .by-bank-card a {
        margin-top: 10px;
        margin-right: 0;
    }
    .total-payable-in-pric strong {
        font-size: 26px;
        line-height: 32px;
    }
    .by-bank-card ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .by-bank-card ul li{
        margin: 4px 0;
    }
    .company-name-inn {
        margin-top: 0;
    }
    .choose-a-company-lin{
        margin-top: 10px;
    }
}