.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    overflow: auto;
    -webkit-transform: scaleY(0.01) scaleX(0);
    -ms-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.modal-container{
    max-width: 1920px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    position: relative;
}
.modal-container>{
    top: 49px;
    right: 100px;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
}
.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: #000000;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.close:before{
    width: 100%;
    height: 1px;
}
.close:after{
    width: 1px;
    height: 100%;
}


/*===========  popup-basket ==========*/
.open-block-street{
    max-width: 890px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 38px 0 40px;
}

.modal-logo{
    max-width: 156px;
    width: 100%;
    display: block;
}
.modal-logo img{
    width: 100%;
}
.order-been-successfully{
    margin-top: 128px;

}
.order-been-successfully h2{
    margin-top: 14px;
}
.order-been-successfully strong{
    font-family: 'DIN Pro Cond';

    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #1C1C1C;
    font-weight: normal;
    display: block;
    margin-top: 15px;

}
.order-been-successfully>p{
    margin-top: 32px;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #1C1C1C;
}
.order-been-successfully span{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #1C1C1C;
    display: block;
    margin-top: 32px;
}
.order-been-successfully-flex{
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
}
.order-been-successfully-flex>a{
    height: 56px;
    max-width: 221px;
    width: 100%;
}
.order-been-successfully-flex>a img{
    margin-right: 5px;
}
.order-been-successfully-href{
    margin-left: 44px;
    display: flex;
    align-items: flex-start;
}
.order-been-successfully-href>img{
    margin-right: 9px;
}
.order-been-successfully-text{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}
.order-been-successfully-text a{
    margin-top: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #E31B25;
    border-bottom: 1px solid #E31B25;
}
.order-been-successfully-text a:hover{
    border-bottom: 1px solid #E31B25;

}
.order-been-successfully-text p{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #8E8E8E;
    max-width: 359px;

}
.order-been-successf-zak{
    margin-top: 140px;
    display: flex;
    align-items: center;
}
.back-basket-in a{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E31B25;
}
.back-basket-in a img{
    margin-right: 5px;
}
.print-order-popup{
    margin-left: 80px;
}
.print-order-popup a{
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
}
.print-order-popup a img{
    margin-right: 15px;
}

/*===========  popup-basket-end ==========*/

/*===========  popup-register ==========*/

.modal-registration-a{
    max-width: 995px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.modal-registration-flex{
    display: flex;
    background: #FFFFFF;
}
.modal-registration-photo{
    width: 50%;
    display: flex;
}
.modal-registration-info{
    width: 50%;
    padding: 48px 48px  0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.modal-registration-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-registration-title h3{
    font-family: 'DIN Pro Cond';
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #1C1C1C;
}
.modal-registration-title ul{
    display: flex;
    align-items: center;
}
.modal-registration-title ul li{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    margin-left: 15px;
    cursor: pointer;
}
.modal-registration-title ul .active-href{
    border-bottom: 1px solid #E31B25;
    font-weight: 500;
}
.register-popup-form{
    margin-top: 20px;
}
.register-popup-inp{
    margin-top: 10px;
    width: 100%;
    position: relative;
}
.register-popup-inp label span{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C7C7C7;
    position: absolute;
    left: 45px;
    top: 17px;
}
.register-popup-inp label span small{
    color: red;
    margin-left: 3px;
}
.register-popup-inp label{
    position: relative;
    display: flex;
    width: 100%;
}
.register-popup-inp-rem-s span{
    display: none;
}
.register-popup-inp label img{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.register-popup-inp label input{
    width: 100%;
    height: 52px;
    border: 1px solid #E9E9E9;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
    padding-left: 44px;
}
.register-popup-inp label input::placeholder{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C7C7C7;
}
.register-popup-inp-rob{
    margin-top: 20px;
}
.register-popup-form .news-subscription-information {
    margin-top: 20px;
    width: 100%;
    padding: 0;
    background: unset;
}
.register-popup-form  .news-subscription-information .checkcontainer{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #1C1C1C;
}
.register-popup-form  .news-subscription-information .checkcontainer a{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #E31B25;
}

.register-popup-form .news-subscription-information .checkmark {
    top: 4px;
}
.register-popup-form button{
    max-width: 195px;
    width: 100%;
    height: 54px;
    margin-top: 20px;
}
.modal-registration-act{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    padding: 18px 26px;
    width: 100%;
}
.modal-registration-act p{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
    margin-right: 4px;
}
.modal-registration-act a{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #E31B25;
}
.modal-registration-fle-row{
    width: 100%;
}

.col-ramka{
    position: relative;
}
.col-ramka label input{
    border: 1px solid #0F9800;

}

.col-ramka>img{
    position: absolute;
    top: 18px;
    right: 14px;
}
.password-mismatch{
    position: relative;
}
.password-mismatch label input{
    border: 1px solid #E31B25;
}
.password-mismatch-r{
    position: absolute;
    top: 16px;
    right: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.password-mismatch-r span{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #E31B25;
}
/*===========  popup-register-end ==========*/
.out-pass{
    display: flex;
    align-items: center;
}
.out-pass a{
    display: block;
    margin-left: 14px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #E31B25;
}

#modal3 .modal-registration-fle-row{
    width: 100%;
    margin-top: 80px;
}

#modal2 .close , #modal3 .close {
    position: absolute;
    top: 20px;
    right: 20px;
}
#modal4 .modal-registration-fle-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#modal4 .modal-registration-fle-row>p{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
    margin-top: 14px;
}
#modal5 .modal-registration-title{
    flex-direction: column;
    align-items: flex-start;
}
#modal5 .modal-registration-title img{
    margin-bottom: 10px;
}
#modal5 .modal-registration-info {
    padding: 48px 48px;
    justify-content: center;
    flex-direction: column;
}
#modal5 .modal-registration-fle-row>p{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
    margin-top: 17px;
}
.the-letter-did-to{
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
}
.the-letter-did-to p{
    margin-left: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #8E8E8E;
}
.register-popup-textarea{
    margin-top: 10px;
}
.register-popup-textarea label{
    position: relative;
    display: flex;
    width: 100%;
}
.register-popup-textarea label img{
    position: absolute;
    left: 16px;
    top: 18px;
}
.register-popup-textarea label textarea{
    width: 100%;
    height: 90px;
    border: 1px solid #E9E9E9;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
    padding: 15px 10px 10px 44px;
}
.register-popup-textarea label textarea::placeholder{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C7C7C7;
}
.modal-call-a{
    max-width: 483px;
    width: 100%;
    background: #FFFFFF;
    position: relative;
}
.modal-call-a .modal-registration-info{
    width: 100%;
    padding-bottom: 40px;
}
.flex-row-tit{
    flex-direction: column;
    align-items: flex-start;
}
.flex-row-tit img{
    margin-bottom: 10px;
}
.flex-row-tit>p{
    margin-top: 12px;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
}
#modal7  .modal-call-a, #modal8  .modal-call-a, #modal9  .modal-call-a, #modal10  .modal-call-a{
    padding: 45px 48px;
}
.sure-you-want-cancel{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.sure-you-want-cancel button{
    width: 195px;
    height: 54px;
    background: #1C1C1C;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'DIN Pro Cond';
}
.sure-you-want-cancel a{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #E31B25;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.sure-you-want-cancel a img{
    margin-right: 4px;
}


#modal11 .register-popup-form button{
    max-width: 100%;
}
.commercial-request-offers{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.commercial-request-offers-img{
    max-width: 157px;
    width: 100%;
}
.commercial-request-offers-name{
    padding-left: 15px;
}
.commercial-request-offers-name>span{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
}
.commercial-request-offers-name h4{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #1C1C1C;
    margin-top: 10px;
    font-family: 'DIN Pro Cond';

}
.commercial-request-offers-name .slider-product-calc {
    justify-content: flex-start;
    margin-top: 9px;
}
@media (max-width: 992px){
    .open-block-street{
        padding: 38px 20px 20px;
    }
    .order-been-successfully {
        margin-top: 74px;
    }
    .order-been-successfully strong {
        font-size: 27px;
        line-height: 32px;
        margin-top: 12px;
    }
    .order-been-successfully>p {
        margin-top: 50px;
        font-size: 17px;
        line-height: 25px;
    }
    .close {
        top: 20px;
        right: 30px;
    }
    .open-block-street{
        height: auto;
    }
    .modal-registration-photo{
        display: none;
    }
    .modal-registration-info {
        width: 100%;
        padding: 35px 35px 0;
    }
    .modal-registration-a {
        max-width: 495px;
    }
    #modal3 .modal-registration-fle-row {
        margin-top: 25px;
    }
    #modal7 .modal-call-a, #modal8 .modal-call-a, #modal9 .modal-call-a, #modal10 .modal-call-a {
        padding: 35px 35px;
    }
    .modal-registration-title h3 {
        font-size: 32px;
        line-height: 40px;
    }
    .out-pass button{
        margin-top: 0;
    }
}

@media (max-width: 767px){
    .open-block-street {
        padding: 20px 15px 20px;
    }
    .order-been-successfully {
        margin-top: 40px;
    }
    .order-been-successfully strong {
        font-size: 22px;
        line-height: 24px;
        margin-top: 12px;
    }
    .order-been-successfully>p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 22px;
    }
    .order-been-successfully span {
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
    }
    .order-been-successfully-flex {
        margin-top: 18px;
        flex-direction: column;
    }
    .order-been-successfully-href {
        margin-left: 0;
        margin-top: 15px;
    }
    .order-been-successf-zak {
        margin-top: 70px;
    }

}
@media (max-width: 576px){
    .order-been-successf-zak{
        margin-top: 40px;
        flex-direction: column;
        align-items: flex-start;
    }
    .print-order-popup {
        margin-left: 0;
        margin-top: 15px;
    }
    .modal-registration-title{
        flex-direction: column;
    }
    .modal-content .reviews-min-block-js {
        padding-top: 10px;
    }
    .modal-registration-info {
        padding: 25px 20px 0;
    }
    .modal-registration-act {
        padding: 12px 10px;
        margin-top: 10px;
        flex-direction: column;
    }
    .register-popup-form .news-subscription-information .checkcontainer {
        font-size: 13px;
        line-height: 17px;
    }
    .modal-registration-title h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .modal-registration-a {
        max-width: 310px;
    }
    .out-pass{
        flex-direction: column;
    }
    .out-pass a{
        margin-top: 5px;
    }
    #modal5 .modal-registration-info {
        padding: 30px 15px;
        justify-content: center;
        flex-direction: column;
    }
    #modal5 .modal-registration-fle-row>p {
        line-height: 19px;
        margin-top: 16px;
    }
    .close {
        top: 15px;
        right: 15px;
    }
    #modal7 .modal-call-a, #modal8 .modal-call-a, #modal9 .modal-call-a, #modal10 .modal-call-a {
        padding: 30px 20px;
    }
    .modal-call-a {
        max-width: 307px;
    }
    .commercial-request-offers{
        flex-direction: column;
    }
    .register-popup-form button {
        margin-top: 15px;
        font-size: 15px;
    }
    .register-popup-form {
        margin-top: 0;
    }
}