.product-comparison-main {
    margin-top: 25px;
    padding-bottom: 45px;
}
.product-comparison-silk{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-comparison-show{
    display: flex;
    align-items: center;
}
.product-comparison-show p{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #8E8E8E;
}
.product-comparison-show a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    margin-left: 27px;
}
.product-comparison-show a:hover{
    border-bottom: 1px solid #E31B25;
    color: #1C1C1C;
}
.product-comparison-del button{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
    display: flex;
    align-items: center;
    background: unset;
}
.product-comparison-del button img{
    margin-right: 5px;
}
.product-comparison-scroll{
    margin-top: 47px;
    overflow-x: scroll;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}
div.top-scrollbars {
    transform: rotateX(180deg);
}

.product-comparison-scroll::-webkit-scrollbar {
    width: 7px;
    height: 8px;
    background: #E9E9E9;
    border-radius: 100px;
}
.product-comparison-scroll::-webkit-scrollbar-thumb {
    background-color: silver;
    width: 8px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.product-comparison-flex{
    width: max-content;
    display: flex;
    align-items: flex-start;
    transform: rotateX(-180deg);
    margin-top: 9px;
    padding-top: 12px;
}
.maximum-productivity-main{
    transform: rotateX(-180deg);

}
.product-comparison-box {
    width: 435px;
}
.product-comparison-bas{
    position: relative;
    max-width: 270px;
    width: 100%;
}
.product-comparison-basket{
    position: absolute;
    top: 0;
    left: 0;
}
.product-comparison-bas>img{
    max-width: 215px;
    width: 100%;
}
.product-end-but {
    margin-top: 9px;
    max-width: 270px;
    width: 100%;
}
.product-end-but a{
    font-family: 'DIN Pro Cond';
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #1C1C1C;
}
.product-end-but button{
    display: flex;
    align-items: center;
    margin-top: 9px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
    background: unset;
}
.product-end-but button img{
    margin-right: 9px;
}
.maximum-productivity-main {
    margin-top: 18px;
    padding-bottom: 12px;
}
.maximum-productivity-teb {
    margin-top: 3px;
    width: max-content;
}
.maximum-productivity-teb ul{
    display: flex;
    align-items: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: 0.3s;

}
.maximum-productivity-teb ul:hover{
    border-top: 1px solid #E31B25;
    border-bottom: 1px solid #E31B25;
}
.maximum-productivity-teb ul li{
    width: 434px;
    height: 64px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #1C1C1C;
}
.maximum-productivity-teb ul li + li{
    padding-top: 25px;
}
.maximum-productivity-teb ul:nth-child(odd){
    background: #F7F7F7;
}

.maximum-productivity-teb ul li strong{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #222222;
}

@media (max-width: 1170px){


    .product-comparison-flex{
        width: 3520px;
    }
    .product-comparison-box{
        max-width: 352px;
    }

    .maximum-productivity-teb ul li{
        max-width: 352px;
    }
    .maximum-productivity-teb {
        width: 3520px;
    }
}
@media (max-width: 992px){


}
@media (max-width: 768px){
    .product-comparison-main {
        margin-top: 20px;
    }
    .product-comparison-silk{
        flex-direction: column;
        align-items: flex-start;
    }
    .product-comparison-del{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    .product-comparison-show{
        flex-wrap: wrap;
    }
    .product-comparison-show a {
        margin-left: 20px;
    }

}
@media (max-width: 576px){
    .product-end-but a {
        font-size: 20px;
        line-height: 22px;
    }


}