/*====== -font-DIN Pro- =====*/

@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Medium.eot');
    src: local('DIN Pro Medium'), local('DINPro-Medium'),
    url('DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Medium.woff') format('woff'),
    url('DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedMedium.eot');
    src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
    url('DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
    url('DINPro-CondensedMedium.woff') format('woff'),
    url('DINPro-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Bold.eot');
    src: local('DIN Pro Bold'), local('DINPro-Bold'),
    url('DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Bold.woff') format('woff'),
    url('DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Light.eot');
    src: local('DIN Pro Light'), local('DINPro-Light'),
    url('DINPro-Light.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Light.woff') format('woff'),
    url('DINPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Italic.eot');
    src: local('DIN Pro Italic'), local('DINPro-Italic'),
    url('DINPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Italic.woff') format('woff'),
    url('DINPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro.eot');
    src: local('DIN Pro'), local('DINPro'),
    url('DINPro.eot?#iefix') format('embedded-opentype'),
    url('DINPro.woff') format('woff'),
    url('DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedBlack.eot');
    src: local('DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
    url('DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
    url('DINPro-CondensedBlack.woff') format('woff'),
    url('DINPro-CondensedBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedBold.eot');
    src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
    url('DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
    url('DINPro-CondensedBold.woff') format('woff'),
    url('DINPro-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Black.eot');
    src: local('DIN Pro Black'), local('DINPro-Black'),
    url('DINPro-Black.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Black.woff') format('woff'),
    url('DINPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedRegular.eot');
    src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
    url('DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
    url('DINPro-CondensedRegular.woff') format('woff'),
    url('DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedItalic.eot');
    src: local('DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
    url('DINPro-CondensedItalic.eot?#iefix') format('embedded-opentype'),
    url('DINPro-CondensedItalic.woff') format('woff'),
    url('DINPro-CondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedLight.eot');
    src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
    url('DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
    url('DINPro-CondensedLight.woff') format('woff'),
    url('DINPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/*====== -font-SF UI Display- =====*/


@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Regular.eot');
    src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
    url('SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Regular.woff2') format('woff2'),
    url('SFUIDisplay-Regular.woff') format('woff'),
    url('SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Ultralight.eot');
    src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
    url('SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Ultralight.woff2') format('woff2'),
    url('SFUIDisplay-Ultralight.woff') format('woff'),
    url('SFUIDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Heavy.eot');
    src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
    url('SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Heavy.woff2') format('woff2'),
    url('SFUIDisplay-Heavy.woff') format('woff'),
    url('SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Black.eot');
    src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
    url('SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Black.woff2') format('woff2'),
    url('SFUIDisplay-Black.woff') format('woff'),
    url('SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Semibold.eot');
    src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
    url('SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Semibold.woff2') format('woff2'),
    url('SFUIDisplay-Semibold.woff') format('woff'),
    url('SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Bold.eot');
    src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
    url('SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Bold.woff2') format('woff2'),
    url('SFUIDisplay-Bold.woff') format('woff'),
    url('SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Thin.eot');
    src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
    url('SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Thin.woff2') format('woff2'),
    url('SFUIDisplay-Thin.woff') format('woff'),
    url('SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Medium.eot');
    src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
    url('SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Medium.woff2') format('woff2'),
    url('SFUIDisplay-Medium.woff') format('woff'),
    url('SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Light.eot');
    src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
    url('SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('SFUIDisplay-Light.woff2') format('woff2'),
    url('SFUIDisplay-Light.woff') format('woff'),
    url('SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
